{% load static %}
<div id="footerBackground" class="footerNavOff footerTextOn">
  <footer id="footer">
    <div id="footerText" class="moduleContainer footerText1 footerText">
      <div class="moduleInner">
        <div id="footerTextBody" class="footerTextBody1 footerTextBody">
          <img
            alt="footer logo"
            class="footerLogo"
            src="{% static 'images/logo/saint_john.png' %}"
            style="width: 144px; height: 174px"
          />
          <div class="container">
            <div class="column">
              <div class="footer-introduction-address">
                {{ introduction.address }}
              </div>
            </div>
            <div class="column">
              <p>
                <a class="footerWhiteLink" href="tel:1-210-478-5000">
                  {{ introduction.phone }} </a
                ><br />
                <a href="mailto:{{ introduction.email }}">
                  {{ introduction.email }}
                </a>
              </p>
            </div>
            <div class="column">
              <div>OFFICE HOURS</div>
              <div class="footer-introduction-address">
                {{ introduction.office_hours }}
              </div>
            </div>
          </div>
           
          <div class="footerLinksRow">
            {% for lc in linked_church %}
            <a href="{{lc.church_url}}"
              ><img alt="{{lc.title}}" src="{{lc.logo.url}}"
            /></a>
            {% endfor %}
          </div>
          <div class="copyright">
            {{ introduction.copywrite }}
            <span>-</span>
            <br />
            All rights reserved.
          </div>
        </div>
      </div>
    </div>

    <div id="footerGroup">
      <div id="footerLinks"></div>
      <div id="footerBrand"></div>
    </div>
  </footer>
</div>
