{% load static %}
<!-- used primarily for the background of the site -->
<div id="massModePlaceholder" getUrl="/getMassMode"></div>
<div id="headerBackground">
  <div id="navBackground"></div>
  <header
    id="header"
    class="headerTextOff smallMegaMenu quickLinksOn socialMediaOn searchOn"
  >
    <div id="mobileIndicator"></div>
    <div id="mobileNavBar"><a id="navicon" href="#menu">|||</a></div>

    <div id="siteLogo" class="moduleContainer logoOnly">
      <div class="moduleInner">
        <div id="siteLogoBody">
          <a href="index.html">
            <img src={% static 'images/logo/saint_john.png' %} alt="Saint John
            the Evangelist" style="left: 0px; top: 0px; width: 106px; height:
            128px">
          </a>
        </div>
      </div>
    </div>

    <nav id="quickLinks" class="moduleContainer">
      <div class="moduleInner">
        <ul>
          <li id="quickLink_249">
            <a href="contact-us.html">Contact Us</a>
          </li>

          <li id="quickLink_330450">
            <a href="bulletins.html" target="_self">Bulletin</a>
          </li>

          <li id="quickLink_426195">
            <a href="https://smcssa.org/" target="_blank">Our School</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="socialMedia" class="moduleContainer">
      <div class="moduleInner">
        <div id="socialMediaBody">
          <a
            class="custom1SocialMedia"
            href="https://www.flickr.com/photos/143326047@N04/albums"
            target="_blank"
            title=""
            alt="Custom Social Media"
            >Custom Social Media</a
          >

          <a
            class="facebookSocialMedia"
            href="https://www.facebook.com/STMATTSA"
            target="_blank"
            title="Facebook"
            alt="Facebook"
            >Facebook</a
          >
        </div>
      </div>
    </div>

    <div id="search" class="moduleContainer searchContainer">
      <label for="searchField" style="display: none">Search</label>
      <input id="searchField" class="searchBox" placeholder="Search" /><span
        id="searchSubmit"
        class="searchBoxSubmit"
      ></span>
    </div>
    <div id="searchPopup">Search</div>

    <nav id="nav" class="moduleContainer normal resize">
      <ul>
        <li id="nav1" class="navPage navElement selected subMenu">
          <a href="index.html"><span>Home</span></a>
        </li>

        <li id="nav2" class="navPage navElement subMenu megaMenu">
          <a href="welcome.html"><span>About Us</span></a>

          <ul class="secondLevel">
            <li id="nav428693" class="navGroup navElement">
              <span class="groupName">Who We Are</span>

              <ul class="secondLevel">
                <li id="nav165382" class="navPage navElement">
                  <a href="welcome.html"><span>Welcome</span></a>
                </li>

                <li id="nav427094" class="navPage navElement">
                  <a href="our-clergy.html"><span>Our Clergy</span></a>
                </li>

                <li id="nav162530" class="navPage navElement">
                  <a href="our-deacons.html"><span>Our Deacons</span></a>
                </li>

                <li id="nav291" class="navPage navElement">
                  <a href="staff.html"><span>Our Staff</span></a>
                </li>

                <li id="nav163968" class="navPage navElement">
                  <a href="allcouncils.html"><span>Our Councils</span></a>
                </li>

                <li id="nav249" class="navPage navElement">
                  <a href="contact-us.html"><span>Contact Us</span></a>
                </li>
              </ul>
            </li>

            <li id="nav428692" class="navGroup navElement">
              <span class="groupName">Our Parish</span>

              <ul class="secondLevel">
                <li id="nav428466" class="navPage navElement">
                  <a href="st-matthew-our-patron-saint.html"
                    ><span>St. Matthew, Our Parish Patron</span></a
                  >
                </li>

                <li id="nav161145" class="navPage navElement">
                  <a href="history.html"><span>History</span></a>
                </li>

                <li id="nav427093" class="navPage navElement">
                  <a href="safe-environment.html"
                    ><span>Safe Environment</span></a
                  >
                </li>

                <li id="nav353079" class="navPage navElement">
                  <a href="50th-anniversary.html"
                    ><span>50th Anniversary</span></a
                  >
                </li>

                <li id="nav426195" class="navLink navElement">
                  <a href="https://smcssa.org/" target="_blank"
                    ><span>Our School</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="nav162138" class="navPage navElement subMenu">
          <a href="teaching-mass.html"><span>Worship</span></a>

          <ul class="secondLevel">
            <li id="nav163402" class="navGroup navElement">
              <span class="groupName">Liturgical Ministries</span>

              <ul class="secondLevel">
                <li id="nav505201" class="navPage navElement">
                  <a href="teaching-mass.html"><span>Teaching Mass</span></a>
                </li>

                <li id="nav162139" class="navPage navElement">
                  <a href="altarservers.html"><span>Altar Servers</span></a>
                </li>

                <li id="nav428108" class="navPage navElement">
                  <a href="altar-society.html"><span>Altar Society</span></a>
                </li>

                <li id="nav163415" class="navPage navElement">
                  <a href="childrenslturgy.html"
                    ><span>Children&apos;s Liturgy</span></a
                  >
                </li>

                <li id="nav162141" class="navPage navElement">
                  <a href="ecuharisticministry.html"
                    ><span>Eucharistic Ministry</span></a
                  >
                </li>

                <li id="nav161143" class="navPage navElement">
                  <a href="funeral.html"
                    ><span>Funeral and Memorial Services</span></a
                  >
                </li>

                <li id="nav162140" class="navPage navElement">
                  <a href="lectors.html"><span>Lectors</span></a>
                </li>

                <li id="nav162142" class="navPage navElement">
                  <a href="musicministry.html"><span>Music Ministry</span></a>
                </li>

                <li id="nav162753" class="navPage navElement">
                  <a href="ushers-hospitality.html"
                    ><span>Ushers and Hospitality Ministries</span></a
                  >
                </li>
              </ul>
            </li>

            <li class="navPageGroup">
              <ul>
                <li id="nav427823" class="navPage navElement">
                  <a href="prayer-groups.html"><span>Prayer Groups</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="nav351" class="navPage navElement subMenu">
          <a href="baptism.html"><span>Sacraments</span></a>

          <ul class="secondLevel">
            <li class="navPageGroup">
              <ul>
                <li id="nav161137" class="navPage navElement">
                  <a href="baptism.html"><span>Baptism</span></a>
                </li>

                <li id="nav161142" class="navPage navElement">
                  <a href="reconciliation.html"><span>Penance</span></a>
                </li>

                <li id="nav161135" class="navPage navElement">
                  <a href="eucharist.html"><span>Eucharist</span></a>
                </li>

                <li id="nav161141" class="navPage navElement">
                  <a href="confirmation.html"><span>Confirmation</span></a>
                </li>

                <li id="nav161140" class="navPage navElement">
                  <a href="marriage.html"><span>Marriage</span></a>
                </li>

                <li id="nav161139" class="navPage navElement">
                  <a href="holyorders.html"><span>Holy Orders</span></a>
                </li>

                <li id="nav161144" class="navPage navElement">
                  <a href="anointingofthesick.html"
                    ><span>Anointing Of The Sick</span></a
                  >
                </li>

                <li id="nav427169" class="navPage navElement">
                  <a href="sacramental-certificates.html"
                    ><span>Sacramental Certificates</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="nav355" class="navPage navElement subMenu megaMenu">
          <a href="childrens-programs.html"
            ><span>Ministries &amp; Organizations</span></a
          >

          <ul class="secondLevel">
            <li id="nav427949" class="navGroup navElement">
              <span class="groupName">Children</span>

              <ul class="secondLevel">
                <li id="nav427162" class="navPage navElement">
                  <a href="childrens-programs.html"
                    ><span>Children&apos;s Programs</span></a
                  >
                </li>

                <li id="nav426425" class="navPage navElement">
                  <a href="children.html"><span>Children Formation</span></a>
                </li>

                <li id="nav163414" class="navPage navElement">
                  <a href="biblestorytime.html"
                    ><span>Children&apos;s Bible Storytime</span></a
                  >
                </li>

                <li id="nav427405" class="navPage navElement">
                  <a href="childrens-amp-youth-organizations.html"
                    ><span>Children &amp; Youth Organizations</span></a
                  >
                </li>
              </ul>
            </li>

            <li id="nav427948" class="navGroup navElement">
              <span class="groupName">Youth</span>

              <ul class="secondLevel">
                <li id="nav427165" class="navPage navElement">
                  <a href="youth-programs.html"><span>Youth Programs</span></a>
                </li>

                <li id="nav162979" class="navPage navElement">
                  <a href="highschoolconfirmation.html"
                    ><span>High School Confirmation</span></a
                  >
                </li>

                <li id="nav427765" class="navPage navElement">
                  <a href="youth-ministry.html"><span>Youth Ministry</span></a>
                </li>

                <li id="nav427946" class="navLink navElement">
                  <a
                    href="childrens-amp-youth-organizations.html"
                    target="_self"
                    ><span>Children &amp; Youth Organizations</span></a
                  >
                </li>

                <li id="nav535680" class="navPage navElement">
                  <a href="quince.html"><span>Quinceañeras</span></a>
                </li>
              </ul>
            </li>

            <li id="nav427947" class="navGroup navElement">
              <span class="groupName">Adult</span>

              <ul class="secondLevel">
                <li id="nav427164" class="navPage navElement">
                  <a href="adult-programs.html"><span>Adult Programs</span></a>
                </li>

                <li id="nav161122" class="navPage navElement">
                  <a href="adultformation.html"><span>Adult Formation</span></a>
                </li>

                <li id="nav427820" class="navPage navElement">
                  <a href="adult-ministries.html"
                    ><span>Adult Ministries</span></a
                  >
                </li>

                <li id="nav427787" class="navPage navElement">
                  <a href="adult-organizations.html"
                    ><span>Adult Organizations</span></a
                  >
                </li>

                <li id="nav427745" class="navPage navElement">
                  <a href="social-service-outreach.html"
                    ><span>Social Service Outreach</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="nav161055" class="navPage navElement subMenu">
          <a href="parish-hall.html"><span>Facilities</span></a>

          <ul class="secondLevel">
            <li id="nav427239" class="navGroup navElement">
              <span class="groupName">Church and Athletic Facilities</span>

              <ul class="secondLevel">
                <li id="nav161127" class="navPage navElement">
                  <a href="parish-hall.html"><span>Parish Hall</span></a>
                </li>

                <li id="nav161128" class="navPage navElement">
                  <a href="mcdonaldfamilycenter.html"
                    ><span>McDonald Family Center</span></a
                  >
                </li>

                <li id="nav427242" class="navPage navElement">
                  <a href="athletic-center.html"
                    ><span>St Matthew Athletic Center</span></a
                  >
                </li>

                <li id="nav161930" class="navPage navElement">
                  <a href="sportspark.html"
                    ><span>St. Matthew Sports Park</span></a
                  >
                </li>
              </ul>
            </li>

            <li class="navPageGroup">
              <ul>
                <li id="nav161739" class="navLink navElement">
                  <a href="https://stmatts.mhsoftware.com/" target="_blank"
                    ><span>Church Facilities Calendar</span></a
                  >
                </li>

                <li id="nav426127" class="navLink navElement">
                  <a
                    href="https://tms.ezfacility.com/overview2.aspx?vouname=vomatthew&amp;vopassword=654321"
                    target="_blank"
                    ><span>Athletic Center Calendar</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="nav162372" class="navPage navElement subMenu">
          <a href="donate.html"><span>Donate</span></a>

          <ul class="secondLevel">
            <li class="navPageGroup">
              <ul>
                <li id="nav444979" class="navLink navElement">
                  <a
                    href="https://stmatts.churchgiving.com/ws/opportunities/Regular"
                    target="_blank"
                    ><span>Regular Sunday Collection</span></a
                  >
                </li>

                <li id="nav240575" class="navLink navElement">
                  <a href="https://stmatts.churchgiving.com/" target="_blank"
                    ><span>Online Giving-Various Collections</span></a
                  >
                </li>

                <li id="nav428226" class="navLink navElement">
                  <a
                    href="https://stmatts.churchgiving.com/ws/opportunities/BuildingtheFuture"
                    target="_blank"
                    ><span>Building the Future</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
