<div id="features">
  <ul id="featureSlideshow" class="featureCustom">
    <li id="module_3200">
      <div
        class="moduleInner slideshowModule videoMode youtubeMode autoplayOn captionOn callToActionOn"
      >
        <header></header>

        <iframe
          class="youtube video moduleBody"
          width="640"
          height="360"
          src="https://www.youtube.com/embed/k_pVbtgh_n8?feature=player_detailpage&amp;wmode=transparent&amp;rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;cc_load_policy=0&amp;disablekb=1&amp;iv_load_policy=3&amp;playlist=k_pVbtgh_n8&amp;controls=0"
          frameborder="0"
          wmode="Opaque"
          allowfullscreen
        ></iframe>

        <div class="captionPositioner" width="640" height="360">
          <div class="caption">
            <span class="title">All Are Welcome</span>

            <span class="captionContent"
              >Our Mission is to be a welcoming community that encounters Christ
              and leads others to Christ through prayer, the sacraments, and
              charitable service.</span
            >

            <a
              class="callToAction"
              href="https://stmatts.shelbynextchms.com/external/form/653fc49d-de48-44bc-b4e9-f6430318b9e5"
              target="_blank"
              >Join our Parish<span class="callToActionArrow"></span
            ></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
