{% extends "shared/application.html" %} {% load static %} {% block content %}
<div id="core" pageID="1" class="custom section" class="home">
  {% include "shared/slideshow.html" %}

  <ul id="section1" class="region sectionRegion">
    <li id="section_145104">
      <div class="sectionInner columnSection twinColumn">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 halfColumn"
            sectionPosition="1"
          >
            <li id="module_3023436">
              <div class="moduleInner linksModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle"><span>Links</span></div>
                  </h2>
                </header>

                <ul class="aggregate moduleBody">
                  <li class="link group">
                    <a
                      class="name"
                      href="https://www.facebook.com/STMATTSA/"
                      target="_blank"
                      >LIVE STREAM 5:30 PM SATURDAYS - VIGIL MASS</a
                    >
                  </li>

                  <li class="link group">
                    <a
                      class="name"
                      href="https://www.facebook.com/STMATTSA/"
                      target="_blank"
                      >LIVE STREAM 1:00PM SUNDAYS - MISA ESPAÑOLA</a
                    >
                  </li>
                </ul>
                <footer></footer>
              </div>
            </li>

            <li id="module_3372589">
              <div class="moduleInner linksModule">
                <header></header>

                <ul class="aggregate moduleBody">
                  <li class="link group">
                    <a
                      class="name"
                      href="documents/2020/11/Responses%20for%20Mass%201.pdf"
                      target="_blank"
                      >Responses &amp; Prayers for the Mass</a
                    >
                  </li>
                </ul>
                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 halfColumn"
            sectionPosition="101"
          >
            <li id="module_3135530">
              <div class="moduleInner customModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Prayer after Mass</span>
                    </div>
                  </h2>
                </header>

                <div class="moduleBody">
                  <p style="text-align: justify">
                    <span style="font-size: 22px"
                      ><em
                        >St. Michael the Archangel, defend us in battle, be our
                        safeguard against the wickedness and snares of the
                        devil, may God rebuke him, we humbly pray and do thou, O
                        Prince of the Heavenly Host, by the power of God, cast
                        into hell Satan and the other evil spirits who prowl the
                        world for the ruin of souls.                     
                        Amen.</em
                      ></span
                    >
                  </p>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_110756">
      <div class="sectionInner columnSection twinColumn darkGrayBackground">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 halfColumn"
            sectionPosition="1"
          >
            <li id="module_2929859">
              <div class="moduleInner youtubeModule mediaFormatting">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>English Mass</span>
                    </div>
                  </h2>
                </header>

                <iframe
                  class="youtube video moduleBody"
                  width="640"
                  height="360"
                  src="https://www.youtube.com/embed/B6IJrhLQUhM?feature=player_detailpage&amp;wmode=transparent&amp;rel=0"
                  frameborder="0"
                  wmode="Opaque"
                  allowfullscreen
                ></iframe>

                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 halfColumn"
            sectionPosition="101"
          >
            <li id="module_3023338">
              <div class="moduleInner youtubeModule mediaFormatting">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Misa Española</span>
                    </div>
                  </h2>
                </header>

                <iframe
                  class="youtube video moduleBody"
                  width="640"
                  height="360"
                  src="https://www.youtube.com/embed/kh4392SluLg?feature=player_detailpage&amp;wmode=transparent&amp;rel=0"
                  frameborder="0"
                  wmode="Opaque"
                  allowfullscreen
                ></iframe>

                <footer></footer>
              </div>
            </li>
          </ul>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_61490">
      <div class="sectionInner columnSection duoColumn sacramentTimesSection">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 largeColumn"
            sectionPosition="1"
          >
            <li id="module_2499461">
              <div class="moduleInner massTimesModule sacramentTimesModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Mass Times <br />  <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes massTime normal times">
                    <li class="sacramentDay group">
                      <span class="day SATURDAY_VIGIL"
                        >Saturday<span class="colon">:</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >5:30 <span class="timePeriod">PM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group">
                      <span class="day SUNDAY"
                        >Sunday<span class="colon">:</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >7:30 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>

                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >9:15 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>

                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >11:00 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>

                        <span class="sacramentTime">
                          <span class="startTime"
                            >11:15 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"
                            >Children&apos;s Mass in Athletic Ctr</span
                          >
                        </span>

                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >1:00 <span class="timePeriod">PM</span></span
                          >
                          <span class="language SPANISH">Spanish</span
                          ><span class="nativeLanguage SPANISH">Español</span
                          ><span class="abbrLanguage SPANISH">ES</span>
                          <span class="notes"></span>
                        </span>

                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >6:00 <span class="timePeriod">PM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group firstWeekday">
                      <span class="day MULTIDAY multiShort"
                        ><span class="multiMonday addDash">Mon</span
                        ><span class="multiFriday addColon">Fri</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >6:00 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group">
                      <span class="day MULTIDAY multiShort"
                        ><span class="multiMonday addDash">Mon</span
                        ><span class="multiSaturday addColon">Sat</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime">
                          <span class="startTime"
                            >8:15 <span class="timePeriod">AM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes">Starts June 1, 2020</span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group">
                      <span class="day MULTIDAY multiShort"
                        ><span class="multiMonday addDash">Mon</span
                        ><span class="multiFriday addColon">Fri</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >12:05 <span class="timePeriod">PM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>

                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >6:00 <span class="timePeriod">PM</span></span
                          >
                          <span class="language ENGLISH">English</span
                          ><span class="nativeLanguage ENGLISH">English</span
                          ><span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>

            <li id="module_2859000">
              <div class="moduleInner customModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Special Notices <br /></span>
                    </div>
                  </h2>
                </header>

                <div class="moduleBody">
                  <div style="text-align: center">
                    <div style="text-align: left">
                      apacity in the Church is about 250 persons
                    </div>
                  </div>
                  <ul>
                    <li>
                      Weekend Mass at 11:15 am in the Athletic Center can be
                      overflow location for 11:00 am Mass in the Church.
                    </li>
                    <li>
                      The Administrative Offices will continue to be open from
                      9:00 am to 3 pm M-F. The office will be open from 9:00 am
                      to 12 noon on Saturday.
                    </li>
                    <li>
                      <strong
                        >See Pastor&apos;s Message for full details.</strong
                      >
                    </li>
                  </ul>
                  <div style="text-align: center">
                    <hr />
                  </div>
                  <ul></ul>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 smallColumn"
            sectionPosition="101"
          >
            <li id="module_2499462">
              <div
                class="moduleInner confessionTimesModule sacramentTimesModule"
              >
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Confession Times <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes confessionTime large1 times">
                    <li class="sacramentDay group firstWeekday">
                      <span class="day WEDNESDAY">Wednesday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >4:30 <span class="timePeriod">PM</span></span
                          >

                          <span class="betweenTimes"> to </span>
                          <span class="endTime"
                            >6:00 <span class="timePeriod">PM</span></span
                          >

                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group">
                      <span class="day SATURDAY">Saturday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >4:00 <span class="timePeriod">PM</span></span
                          >

                          <span class="betweenTimes"> to </span>
                          <span class="endTime"
                            >5:30 <span class="timePeriod">PM</span></span
                          >

                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>
                  </ul>

                  <div class="sacramentTimesNote">
                    Confessions have been moved to the McDonald Family Center
                  </div>
                </div>
                <footer></footer>
              </div>
            </li>

            <li id="module_2499463">
              <div
                class="moduleInner adorationTimesModule sacramentTimesModule"
              >
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>**Adoration Times <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes adorationTime large1 times">
                    <li class="sacramentDay group">
                      <span class="day SUNDAY">Sunday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >2:30 <span class="timePeriod">PM</span></span
                          >

                          <span class="betweenTimes"> to </span>
                          <span class="endTime"
                            >6:00 <span class="timePeriod">PM</span></span
                          >

                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group firstWeekday">
                      <span class="day MULTIDAY multiShort"
                        ><span class="multiMonday addDash">Mon</span
                        ><span class="multiFriday addColon">Fri</span></span
                      >
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >9:00 <span class="timePeriod">AM</span></span
                          >

                          <span class="betweenTimes"> to </span>
                          <span class="endTime"
                            >9:00 <span class="timePeriod">PM</span></span
                          >

                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>

                    <li class="sacramentDay group">
                      <span class="day SATURDAY">Saturday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime"
                            >9:00 <span class="timePeriod">AM</span></span
                          >

                          <span class="betweenTimes"> to </span>
                          <span class="endTime"
                            >5:30 <span class="timePeriod">PM</span></span
                          >

                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_61491">
      <div
        class="sectionInner buttonsSection hasFixedHeight twoRow threeAcross hasTextModule lightGrayBackground hasBackgroundImage"
      >
        <div class="sectionBackground section-background-homepage"></div>

        <header>
          <h2 class="sectionName">
            <div class="sectionTitle">
              <span>Discover St. Matthew</span>
            </div>
          </h2>
        </header>

        <div class="sectionBody">
          <ul
            class="modulePosition notSortable titlePosition hideMoveHandle"
            sectionPosition="1"
          >
            <li id="module_2499466">
              <div class="moduleInner customModule">
                <header></header>

                <div class="moduleBody">
                  <p>
                    Come find out how we can serve you and how you can serve at
                    St. Matthew.
                  </p>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>

          <div class="buttonRow buttonRow1">
            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="11"
            >
              <li id="module_2499467" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="pastors-message.html"
                      target="_self"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Pastor's Message"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/3/Picture3-1-1.jpg');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel"
                              >Pastor&apos;s Message</span
                            >
                            <span class="buttonSubtext">Read</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="12"
            >
              <li id="module_2499468" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="daily-readings.html"
                      target="_self"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Daily Readings"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/b2_03.png');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Daily Readings</span>
                            <span class="buttonSubtext">Read More</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="13"
            >
              <li id="module_2499469" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="http://stmatts.formed.org/"
                      target="_blank"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Formed.org"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/b3_03.png');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Formed.org</span>
                            <span class="buttonSubtext">Learn More</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>
          </div>

          <div class="buttonRow buttonRow2">
            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="21"
            >
              <li id="module_2499470" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="childrens-programs.html"
                      target="_self"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Children"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/b4_03.png');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Children</span>
                            <span class="buttonSubtext">Learn More</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="22"
            >
              <li id="module_2499471" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="youth-programs.html"
                      target="_self"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Youth"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/8/IMG_3190-1.jpg');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Youth</span>
                            <span class="buttonSubtext">Learn More</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="23"
            >
              <li id="module_2499472" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="adult-programs.html"
                      target="_self"
                      class="buttonModuleButton firstButton customButton hasLabel hasSubtext hasImage"
                      buttonName="Adults"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/2/ministry.jpg');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Adults</span>
                            <span class="buttonSubtext">Learn More</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_62696">
      <div
        class="sectionInner columnSection twinColumn defaultBackground+WhiteModules"
      >
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 halfColumn"
            sectionPosition="1"
          >
            <li id="module_3388355">
              <div class="moduleInner youtubeModule mediaFormatting">
                <header></header>

                <iframe
                  class="youtube video moduleBody"
                  width="640"
                  height="360"
                  src="https://www.youtube.com/embed/7xtpJ4Q_Q-4?feature=player_detailpage&amp;wmode=transparent&amp;rel=0"
                  frameborder="0"
                  wmode="Opaque"
                  allowfullscreen
                ></iframe>

                <footer></footer>
              </div>
            </li>

            <li id="module_2649714">
              <div class="moduleInner customModule">
                <header></header>

                <div class="moduleBody">
                  <p>
                    <img alt="" src="{% static 'images/meditation.jpg' %}" />
                  </p>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 halfColumn"
            sectionPosition="101"
          >
            <li id="module_3135447" contentType="calendar">
              <div class="moduleInner calendarModule listView">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle"><span>Calendar</span></div>
                  </h2>
                </header>

                <ul class="aggregate moduleBody">
                  <li class="event group hasThumb">
                    <div class="name">
                      <a href="events/archdiocesan-confirmation.html"
                        >Archdiocesan Confirmation</a
                      >
                    </div>
                    <div class="info">
                      <div class="date">
                        <span class="startDate"
                          ><span class="saturday dayName">Saturday</span
                          ><span class="comma">,</span>
                          <span class="december month">December</span>
                          <span class="day">5</span
                          ><span class="comma">,</span>
                          <span class="time">9:00 AM</span></span
                        >
                        <span class="endDate"
                          ><span class="dash">-</span>
                          <span class="time">2:00 PM</span></span
                        >
                      </div>
                    </div>
                    <!-- -- -->
                    <a
                      class="thumb"
                      href="events/archdiocesan-confirmation.html"
                    >
                      <img
                        alt="Archdiocesan Confirmation"
                        class="thumbImage"
                        src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2020/11/hs.png"
                      />
                    </a>

                    <div class="summary">
                      Archdiocese Adult Confirmation Liturgy.
                    </div>

                    <a
                      class="readMore"
                      href="events/archdiocesan-confirmation.html"
                      >Read More</a
                    >
                  </li>
                </ul>
                <footer class="aggregateModuleFooter">
                  <div
                    class="calendarExportContainer infoHolder"
                    data-printurl="/calendar?month=2020-12-01&print=true"
                  >
                    <span class="exportCalendar infoButton icalLink">
                      <svg
                        id="Layer_1"
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 418"
                      >
                        <title>svgs</title>
                        <
                        <path
                          fill="currentColor"
                          d="M358,266.27V387.8H30.14V149.35H347.41l24.67-24.67L346.34,98.93a33.74,33.74,0,0,1-6.5-39H328.21V37.57a35.88,35.88,0,0,0-10.95-26.31A35.87,35.87,0,0,0,290.95.31H276a35.88,35.88,0,0,0-26.31,10.95,35.86,35.86,0,0,0-10.95,26.31V59.93H149.37V37.57a35.88,35.88,0,0,0-10.94-26.31A35.89,35.89,0,0,0,112.11.31H97.2A35.88,35.88,0,0,0,70.89,11.26,35.88,35.88,0,0,0,59.95,37.57V59.93H30.14a28.64,28.64,0,0,0-21,8.85,28.65,28.65,0,0,0-8.85,21V387.8a28.66,28.66,0,0,0,8.85,21,28.67,28.67,0,0,0,21,8.85H358a30.23,30.23,0,0,0,29.81-29.81V236.46ZM268.6,37.57A7.17,7.17,0,0,1,276,30.12h14.9a7.17,7.17,0,0,1,7.45,7.45v67.07a7.17,7.17,0,0,1-7.45,7.45H276a7.17,7.17,0,0,1-7.45-7.45Zm-178.84,0a7.17,7.17,0,0,1,7.45-7.45h14.91a7.17,7.17,0,0,1,7.45,7.45v67.07a7.17,7.17,0,0,1-7.45,7.45H97.2a7.17,7.17,0,0,1-7.45-7.45Z"
                        />
                        <path
                          fill="currentColor"
                          d="M500,74.93V190.18a14.33,14.33,0,0,1-24.54,10.13l-39.62-39.62L289.09,307.45a7.08,7.08,0,0,1-10.35,0l-25.66-25.66a7.08,7.08,0,0,1,0-10.35L399.83,124.68,360.21,85.06a14.41,14.41,0,0,1,10.13-24.53H485.59A14.61,14.61,0,0,1,500,74.93Z"
                        />
                      </svg>
                    </span>
                    <div class="fieldHelp">
                      <a class="icsExport" href="icalendar1.ics"
                        >Sync to my Calendar</a
                      >

                      <a class="printCalendar calendarView">Print Calendar</a>
                      <a class="printCalendar listView">Print Event List</a>
                    </div>
                  </div>
                  <a href="events2679.html?page=1" class="moreEvents"
                    >More Events</a
                  >
                </footer>
              </div>
            </li>
          </ul>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_61496">
      <div class="sectionInner rowSection oneModule fullWidthImageBackground">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul class="modulePosition" sectionPosition="1">
            <li id="module_2499478">
              <div class="moduleInner imageModule hasImage">
                <header></header>

                <div class="moduleBody">
                  <img
                    alt=""
                    class="image"
                    src="https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/grotto_02.png"
                  />
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>
        <footer></footer>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
