{% extends "shared/application.html" %} {% load static %} {% block content %}
<div id="core" pageID="1" class="custom section" class="home">
  {% include "shared/slideshow.html" with introduction=introduction %}

  <ul id="section1" class="region sectionRegion">
    <li id="section_145104">
      <div class="sectionInner columnSection twinColumn">
        <div class="sectionBackground"></div>
        <header></header>
        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 halfColumn"
            sectionPosition="1"
          >
            <li id="module_3023436">
              <div class="moduleInner linksModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle"><span>Links</span></div>
                  </h2>
                </header>

                <ul class="aggregate moduleBody">
                  {% for fb in facebook_links %} {%if fb.file_upload%}
                  <li class="link group">
                    <a
                      class="name"
                      href="{{ fb.file_upload.url }}"
                      target="_blank"
                      >{{ fb.title }}</a
                    >
                  </li>
                  {%else%}
                  <li class="link group">
                    <a class="name" href="{{ fb.link_detail }}" target="_blank"
                      >{{ fb.title }}</a
                    >
                  </li>
                  {% endif %} {% endfor %}
                </ul>
                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 halfColumn"
            sectionPosition="101"
          >
            <li id="module_3135530">
              <div class="moduleInner customModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Prayer after Mass</span>
                    </div>
                  </h2>
                </header>

                <div class="moduleBody">
                  <p style="text-align: justify">
                    <span style="font-size: 22px">
                      <em>{{ prayer.title }}</em>
                    </span>
                  </p>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>
        <footer></footer>
      </div>
    </li>

    <li id="section_110756">
      <div class="sectionInner columnSection twinColumn darkGrayBackground">
        <div class="sectionBackground"></div>
        <header class="section-english-mash">
          <h2 class="moduleName">
            <div class="moduleTitle">
              <span>English Mass</span>
            </div>
          </h2>
        </header>
        <div class="sectionBody">
          <div class="wrap-mass-list">
            <div class="wrap-mass-items">
              {% for ym in youtube_mass %}
              <div class="mass-item">
                <iframe
                  class="youtube video moduleBody"
                  width="640"
                  height="360"
                  src="{{ ym.url_detail }}?feature=player_detailpage&amp;wmode=transparent&amp;rel=0"
                  frameborder="0"
                  wmode="Opaque"
                  allowfullscreen
                ></iframe>
              </div>
              {% endfor %}
            </div>
            <div class="wrap-mass-more">
              <div class="btn-more">Read More</div>
            </div>
          </div>
        </div>
        <footer></footer>
      </div>
    </li>

    <li id="section_61490">
      <div class="sectionInner columnSection duoColumn sacramentTimesSection">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul
            class="modulePosition modulePositionColumn content1 largeColumn"
            sectionPosition="1"
          >
            <li id="module_2499461">
              <div class="moduleInner massTimesModule sacramentTimesModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Mass Times <br />  <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes massTime normal times">
                    <li class="sacramentDay group">
                      {{mass_time.calendar_notices}}
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>

            <li id="module_2859000">
              <div class="moduleInner customModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Special Notices <br /></span>
                    </div>
                  </h2>
                </header>

                <div class="moduleBody">
                  <div style="text-align: center">
                    {{mass_time.special_notices}}
                  </div>
                  <div style="text-align: center">
                    <hr />
                  </div>
                  <ul></ul>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>

          <ul
            class="modulePosition modulePositionColumn content2 smallColumn"
            sectionPosition="101"
          >
            <li id="module_2499462">
              <div
                class="moduleInner confessionTimesModule sacramentTimesModule"
              >
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Confession Times <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes confessionTime large1 times">
                    <li class="sacramentDay group firstWeekday">
                      {{confression_time.calendar_confression}}
                    </li>
                  </ul>

                  <div class="sacramentTimesNote">
                    {{confression_time.content_confression}}
                  </div>
                </div>
                <footer></footer>
              </div>
            </li>

            <li id="module_2499463">
              <div
                class="moduleInner adorationTimesModule sacramentTimesModule"
              >
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>**Adoration Times <br /></span>
                    </div>
                  </h2>
                </header>

                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes adorationTime large1 times">
                    <li class="sacramentDay group">
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          {{confression_time.content_adoration}}
                          <span class="notes"> </span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_61491">
      <div
        class="
          sectionInner
          buttonsSection
          hasFixedHeight
          twoRow
          threeAcross
          hasTextModule
          lightGrayBackground
          hasBackgroundImage
        "
      >
        <div class="sectionBackground section-background-homepage"></div>

        <header>
          <h2 class="sectionName">
            <div class="sectionTitle">
              <span>Discover Saint John the Evangelist</span>
            </div>
          </h2>
        </header>

        <div class="sectionBody">
          <ul
            class="modulePosition notSortable titlePosition hideMoveHandle"
            sectionPosition="1"
          >
            <li id="module_2499466">
              <div class="moduleInner customModule">
                <header></header>

                <div class="moduleBody">
                  <p>
                    Come find out how we can serve you and how you can serve at
                    Saint John the Evangelist.
                  </p>
                </div>

                <footer></footer>
              </div>
            </li>
          </ul>

          <div class="buttonRow buttonRow1">
            {% for ai in activity_image %}
            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="11"
            >
              <li id="module_2499467" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="#"
                      target="_self"
                      class="
                        buttonModuleButton
                        firstButton
                        customButton
                        hasLabel
                        hasSubtext
                        hasImage
                      "
                      buttonName="Pastor's Message"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('{{ ai.file_upload.url }}');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">{{ ai.title }}</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>
            {% endfor %}
          </div>

          {% comment %}
          <div class="buttonRow buttonRow2">
            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="21"
            >
              <li id="module_2499470" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="#"
                      target="_self"
                      class="
                        buttonModuleButton
                        firstButton
                        customButton
                        hasLabel
                        hasSubtext
                        hasImage
                      "
                      buttonName="Children"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/b4_03.png');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Children</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="22"
            >
              <li id="module_2499471" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="#"
                      target="_self"
                      class="
                        buttonModuleButton
                        firstButton
                        customButton
                        hasLabel
                        hasSubtext
                        hasImage
                      "
                      buttonName="Youth"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/8/IMG_3190-1.jpg');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Youth</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>

            <ul
              class="modulePosition notSortable buttonPosition swappable_61491"
              sectionPosition="23"
            >
              <li id="module_2499472" class="sectionButtonModule">
                <div class="moduleInner buttonModule buttonModule1">
                  <header></header>

                  <div class="moduleBody">
                    <a
                      href="#"
                      target="_self"
                      class="
                        buttonModuleButton
                        firstButton
                        customButton
                        hasLabel
                        hasSubtext
                        hasImage
                      "
                      buttonName="Adults"
                    >
                      <span
                        class="buttonBackground"
                        style="
                          background-image: url('https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/2/ministry.jpg');
                        "
                      >
                        <span class="buttonLabelContainer">
                          <span class="buttonLabelCenter">
                            <span class="buttonLabel">Adults</span>
                            <span class="buttonCallToAction"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <footer></footer>
                </div>
              </li>
            </ul>
          </div>
          {% endcomment %}
        </div>

        <footer></footer>
      </div>
    </li>

    <li id="section_62696">
      <div
        class="
          sectionInner
          columnSection
          twinColumn
          defaultBackground+WhiteModules
        "
      >
        <div class="sectionBackground"></div>
      </div>
    </li>

    <li id="section_61496">
      <div class="sectionInner rowSection oneModule fullWidthImageBackground">
        <div class="sectionBackground"></div>

        <header></header>

        <div class="sectionBody">
          <ul class="modulePosition" sectionPosition="1">
            <li id="module_2499478">
              <div class="moduleInner imageModule hasImage">
                <header></header>

                <div class="moduleBody">
                  <img
                    alt=""
                    class="image"
                    src="https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/grotto_02.png"
                  />
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>
        <footer></footer>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
